.container {
  position: relative;
  min-height: 30vh;
  background-color: black;
}

.wrapper {
  max-width: var(--width-container);
  padding: 160px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 52px;
  column-gap: 32px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  color: white;
  box-shadow: 0px 0px 20px 4px rgb(104 99 99 / 48%);
  padding: var(--sm-spacing);
  width: 100%;
  gap: var(--sm-spacing);
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  background: white;
  border: 1px solid white;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
}
