.container {
  position: relative;
  min-height: 30vh;
  background-color: black;
  color: #fff;
  padding: 100px 20px;
  border-bottom: 2px solid var(--gray-100);
}

.title {
  font-weight: 600;
  text-align: center;
  padding-inline: var(--sm-spacing);
  font-size: 32px;
}

@media (width >= 768px) {
  .title {
    font-size: 50px;
  }
}

.wrapper {
  max-width: var(--width-container);
  margin: 0 auto;
  padding-block: 80px;
  column-gap: var(--sm-spacing);
  column-width: 300px;
  counter-reset: item-counter;
}

.item {
  position: relative;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 100%;
  background-color: var(--black-100);
  border-radius: var(--border-radius);
  border: 1px solid #252424;
  margin-bottom: var(--sm-spacing);
}

.review {
  margin-block: var(--xs-spacing);
}

.date {
  color: gray;
  font-size: 14px;
  margin-top: auto;
}
