.container {
  position: relative;
  height: 100%;
  background-image: var(--backgroundImage);
  padding: 100px 20px 20px 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--width-container);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

@media (width >= 768px) {
  .title {
    font-size: 46px;
  }
}

.description {
  color: gray;
  margin-bottom: 80px;
  text-align: center;
}

/* list */

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--xs-spacing);
  font-size: 16px;
  padding-bottom: 80px;
}

@media (width >= 768px) {
  .list {
    gap: 40px;
  }
}

.listItem {
  flex-basis: 90%;
  display: flex;
  padding-top: 20px;
  border-top: 1px solid var(--blue-100);
  gap: var(--xs-spacing);
  flex-direction: column;
}

@media (width >= 768px) {
  .listItem {
    flex-basis: 30%;
  }
}

.step {
  color: var(--blue-200);
  font-weight: 600;
  font-size: 14px;
}

.titleList {
  font-weight: 600;
  font-size: 22px;
}

/* slider */
.image {
  object-fit: cover;
  transition: opacity 0.5s;
}

.imageWrapper {
  border-radius: var(--border-radius);
  background-color: rgba(17, 24, 39, 0.05);
  padding: var(--xs-spacing);
  box-shadow: inset 0 0 0 1px rgba(17, 24, 39, 0.1);
  max-width: 800px;
  width: 100%;
  transition: opacity 2s;
}

.hidden {
  opacity: 0;
  height: 475px;
  transition: opacity 2s;
}
