.wrapper {
  display: flex;
  z-index: 10;
  padding: 30px 20px;
  position: absolute;
  width: 100%;
  align-items: flex-start;
}

@media (width >= 768px) {
  .wrapper {
    padding: 30px 40px 30px 60px;
  }
}

.dark {
  background-color: black;
}

.menu {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

.menuNav {
  display: none;
}

@media (width >= 768px) {
  .menuNav {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.item {
  padding: var(--xs-spacing);
  font-weight: 500;
  transition: opacity 0.5s;
  color: white;
}

.menu:hover .item {
  opacity: 0.3;
}

.item:hover {
  opacity: 1 !important;
  transition: opacity 0.3s;
}

.vertical {
  color: white;
  text-transform: uppercase;
  text-orientation: upright;
  font-size: 20px;
  writing-mode: vertical-rl;
}

.link {
  display: none; 
}

.link:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s;
}

@media (width >= 768px) {
  .link {
    display: block;
    padding: 8px !important;
    background-color: var(--pink-200);
    color: white;
    border: 1px solid white;
    margin-block: 4px;
    transition: background-color 0.5s;
  }
}
