.container {
  padding-block: var(--sm-spacing);
  padding-right: var(--sm-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.header {
  font-size: 18px;
  font-weight: 500;
}

.caption {
  color: var(--modern-primaryColor);
  font-size: 14px;
  font-weight: 500;
}

/* .contact {
  background-color: var(--gray-300);
  color: white;
  padding: 4px 8px;
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(2);
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
} */
