.container {
  max-width: var(--width-container);
  padding: 120px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.container ol li {
  list-style: decimal;
  margin-left: var(--padding-md-2);
}

.container div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
