.wrapper {
  display: flex;
  align-items: center;
  gap: var(--sm-spacing);
  width: 100%;
  justify-content: center;
}

.item {
  padding: 8px 12px;
  text-transform: uppercase;
  transition: background-color 0.5s;
  font-weight: 600;
  border: 2px solid black;
  max-width: max-content !important;
  min-width: max-content !important;
}

.item:hover,
.active {
  background-color: black;
  color: white;
  transition: background-color 0.5s;
}
