.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  transition: opacity 2s;
}

@media (width >= 588px) {
  .wrapper {
    justify-content: center;
    gap: var(--sm-spacing);
  }
}

.item {
  text-transform: uppercase;
  transition: background-color 0.5s;
  font-weight: 600;
  border: 2px solid black;
  max-width: max-content !important;
  min-width: max-content !important;
  padding: 8px 12px;
  display: block;
}

.active {
  background-color: black;
  color: white;
  transition: background-color 0.5s;
}

@media (width >= 768px) {
  .item:hover {
    background-color: black;
    color: white;
    transition: background-color 0.5s;
  }
}

.hidden {
  opacity: 0;
  height: 475px;
  transition: opacity 2s;
}
