.wrapper {
  display: flex;
  gap: var(--xs-spacing);
}

.details {
  flex: 1;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--border-radius);
}

.summary {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--sm-spacing);
  background: linear-gradient(180deg, #f7f7f7 57%, rgba(255, 255, 255, 1) 100%);
}

.content {
  padding: var(--sm-spacing);
  padding-top: 0;
}

.button {
  align-self: center;
}
