.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.position {
  color: var(--designer-primary-color);
  text-transform: uppercase;
  font-weight: 500;
}

.muted {
  color: var(--gray-500);
}
