.container {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: rgb(236 236 236);
}

.image {
  height: 240px;
  object-fit: cover;
  align-self: center;
 
}

/* links */
.bold {
  font-weight: 600;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.simple2 {
  background-color: rgb(236 236 236);
  padding: var(--xs-spacing);
}

.simple3 {
  background-color: white;
  padding-inline: var(--xs-spacing);
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
