.container {
  position: relative;
  min-height: var(--height-md-hero);
  min-height: 33vh;
}

.filter {
  background: linear-gradient(#2a2f3fc7 30%, #b19994c7 80%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.image {
  object-fit: cover;
}

.header {
  z-index: 9;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 33vh;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
}
