.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.input {
  padding-inline: 12px;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  border-bottom: 2px solid transparent;
  max-width: 70%;
}

@media (width >= 468px) {
  .input {
    max-width: auto;
  }
}

.input:focus {
  border-bottom: 2px solid var(--gray-300);
}

.input[readOnly]:focus {
  border-bottom: 2px solid transparent;
}
