.container {
  position: relative;
  margin-top: 8px;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  background: var(--gray-200);
  overflow: hidden;
  transition: all 0.3s;
}

.progress {
  position: absolute;
  height: 100%;
  background: black;
  transition: all 0.3s;
}

.score {
  padding: 4px;
  border-radius: 4px;
  color: white;
  background: black;
}
