.title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.filled {
  position: relative;
  color: white;
  background-color: var(--designer-primary-color);
  padding-inline: 20px 12px;
  width: 105%;
  padding-block: 8px;
}
/* border-bottom-right-radius */
.filled::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--gray-400);
}

.notFilled {
  color: var(--designer-primary-color);
  border-top: 1px solid var(--designer-primary-color);
  border-bottom: 1px solid var(--designer-primary-color);
  padding-block: 4px;
}
