.container {
  display: grid;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}

@media (width >= 1168px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor {
  padding: 20px 20px 60px 20px;
}

/* .view {
  visible: ;
} */

@media (width >= 768px) {
  .view {
    padding: var(--sm-spacing);
    background-color: var(--gray-300);
    position: sticky;
    top: 0;
    height: var(--review-max-height);
    display: block;
  }
}
