.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.editor {
  padding: 60px 20px;
}

.view {
  padding: 20px;
  background-color: var(--gray-300);
  position: sticky;
  top: 0;
  height: 100vh;
}
