.container {
  display: grid;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}

@media (width >= 1168px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.editor {
  padding: 60px 20px 60px 20px;
}

@media (width >= 768px) {
  .editor {
    height: var(--review-max-height);
    overflow-y: auto;
  }
}

.view {
  padding: var(--sm-spacing);
  background-color: var(--gray-300);
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: block;
}

@media (width >= 768px) {
  .view {
    height: var(--review-max-height);
  }
}
