.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: var(--font-montserrat);
  gap: 32px;
  font-size: 10px;
}

@media print {
  .container {
    margin-top: 0 !important;
  }
}
