.container {
  display: flex;
  flex-direction: column;
  gap: var(--sm-spacing);
  padding: var(--sm-spacing);
  color: white;
  min-height: var(--review-height);
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid var(--teal-100);
  object-fit: cover;
  align-self: center;
  margin-bottom: 20px;
}

.wrapperTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.skills p {
  background-color: var(--teal-200);
  padding-inline: 4px;
  color: black;
  width: max-content;
  border-radius: 4px;
}

/* contacts */
.link {
  color: var(--teal-100);
}

/* education */
.education {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

.muted {
  color: var(--gray-500);
}

.bold {
  font-size: 14px;
  font-weight: 600;
}
