.container {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: var(--sm-spacing);
  align-items: center;

  width: fit-content;
  justify-content: space-between;
  min-height: 150px;
  padding: 32px;

  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.779);
}

.button {
  padding: var(--xs-spacing);
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
  color: white;
  background-color: black;
}

.title {
  font-weight: 700;
  font-size: 24px;
}
