/* подключение шрифта для печати: */
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url(/fonts/Montserrat-Regular.woff) format('opentype');
}

.container {
  padding: var(--sm-spacing);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container li[data-list='bullet'] {
  list-style: inside;
  padding-left: var(--xs-spacing);
}

.container li[data-list='ordered'] {
  list-style: decimal;
  margin-left: var(--xs-spacing);
}

.container a u {
  text-decoration: underline;
}

.container u {
  text-decoration: underline;
}

.container a {
  color: var(--blue-200);
}

.list {
  border-radius: var(--border-radius);
  background-color: white;
  width: var(--review-width);
  height: var(--review-height);
  overflow: hidden;
}

@media print {
  .list {
    overflow: visible;
    transform-origin: top left;
    font-family: 'Montserrat';
    zoom: 1.4;
  }
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.button:hover {
  background-color: white;
  color: black;
  transition: all 0.5s;
}

/* content: */
.headerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  font-size: 14px;
  text-wrap: nowrap;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.jobTitle {
  font-size: 16px;
  font-weight: 600;
}

.job {
  font-size: 14px;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-block: 22px 12px;
}

.item {
  list-style: inside;
  padding-left: var(--sm-spacing);
}
