.wrapper {
  display: flex;
  gap: var(--xs-spacing);
  align-items: center;
}

.label {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.icon svg {
  border-radius: 50%;
  background-color: var(--designer1-primaryColor);
  padding: 4px;
}
