.wrapper {
  position: absolute;
  bottom: 120px;
  padding: var(--xs-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (width >= 768px) {
  .wrapper {
    position: relative;
    bottom: auto;
  }
}

.button {
  font-size: 20px;
}
