.wrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
  top: -12px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
  background: var(--gray-300);
  transition: scale 0.5s;
  align-items: center;
}

.saveButton {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  background: #e8e8e8;
  padding: 4px;
  text-transform: uppercase;
  color: gray;
  border: 2px solid gray;
  text-align: center;
  height: 40px;
  font-weight: 600;
  transition: scale 0.5s;
}

.button {
  transition: scale 0.5s;
}

.button:hover, .saveButton:hover {
  scale: 1.1;
  transition: scale 0.5s;
}
