.wrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
  top: -12px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
  background: var(--gray-300);
  transition: scale 0.5s;
}

.button:hover {
  scale: 1.1;
  transition: scale 0.5s;
}
