.container {
  padding-block: var(--sm-spacing);
  padding-right: var(--sm-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
  color: var(--designer-secondary-color);
}

.wrapper {
  border-left: 1px solid var(--designer-primary-color);
  padding-left: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  text-shadow: 2px 2px 3px var(--designer-primary-color);
}

.caption {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
