.container {
  position: relative;
  min-height: 30vh;
  background: linear-gradient(var(--blue-300) 30%, var(--pink-100) 80%);
}

.header {
  z-index: 9;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 33vh;
  padding: 60px;
}

.title {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.wrapper {
  max-width: var(--width-container);
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  gap: var(--sm-spacing);
  padding: 0 20px 60px 20px;
}
