.container {
  position: relative;
  min-height: 30vh;
  /* background: linear-gradient(var(--blue-300) 30%, var(--pink-100) 80%); */
  background: var(--backgroundImage);
}

.wrapper {
  display: grid;
  margin: 0 auto;
  gap: 20px;
  padding: 60px 20px;
}

@media (width >= 768px) {
  .wrapper {
    grid-template-columns: 400px 1fr;
    gap: 40px;
  }
}
