.wrapper {
  flex-basis: 67%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.simple2 {
  background-color: rgb(244 244 244);
  padding: 16px 20px 16px 20px;
}

.simple3 {
  background-color: white;
  padding-inline: 20px;
}
