.article {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  padding: 8px;
  background: linear-gradient(180deg, #f7f7f7 57%, rgba(255, 255, 255, 1) 100%);
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.back {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
}

.back:hover {
  color: black;
  background-color: var(--gray-300);
}

.button {
  padding: 12px 20px;
  background-color: var(--gray-300);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid black;
  transform: all 0.5;
}

.button:hover {
  background-color: black;
  color: white;
  transform: all 0.5;
}

.reset {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  max-width: max-content;
}
