.article {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  z-index: 20;
}

.button:hover {
  color: black;
  background-color: var(--primary-color-opacity);
}
