.article {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.wrapper {
  display: flex;
  gap: 40px;
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
  background-color: black;
  color: white;
}

.link:hover {
  color: black;
  background-color: white;
}

.button {
  padding: 12px 20px;
background-color: var(--gray-300);
text-transform: uppercase;
font-weight: 600;
margin-top: 20px;
border: 1px solid black;
transform: all 0.5;
}

.button:hover {
  background-color: black;
  color: white;
  transform: all 0.5;
}